@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
    
}
html {
    font-size: 62.5%;
}
.inner {
    max-width: 1280px;
    width: calc(100% - 80px);
    margin: 50px auto;
} 
.section {
    height: 1080px;
}
span{
    color: brown;
}
.image {
    width: 53%;
    max-height: 860px;
    height: 63vw;
    position: relative;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.5); 
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
    
    margin: 100px auto;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.text h3 {
    font-size: 5.4rem;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.section01 .inner {
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    background: url(../img/sub_page-1.jpg) center center / cover no-repeat;
    position: relative;
} 
.section01 .inner figure {
    
    position: absolute;
    top: 50px;
    right: 50px;
}
.section01 .inner figure audio {
    width: 300px;
    height: 30px;
    
}
.section01 .inner h1 {
    font-size: 3.8rem;
    line-height: 2.5;
    color: #fff;
    font-family: 'Pretendard-Regular';
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.section01 .inner .h102 {
    margin-left: 100px;
}
.section01 .inner .h103 {
    margin-left: 200px;
}
.section01 .inner .h104 {
    margin-left: 300px;
}
.section01 .inner span{
    color: brown;
}

.section01 h5 {
    color: #fff;
    font-size: 3.2rem;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.section02 .inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
} 
.section02 .inner .image {
    background: url(../img/sub_page-2.jpg) center center / cover no-repeat;
}
.section02 .inner .text ul {
    margin-top: 150px;
    

}
.section02 .inner .text ul li {
    font-size: 2.4rem;
    line-height: 4;
}
.section02 .inner .text ul li:nth-child(1) {
    margin-left: 20px;
} 
.section02 .inner .text ul li:nth-child(2) {
    margin-left: 80px;
} 
.section02 .inner .text ul li:nth-child(3) {
    margin-left: 160px;
} 

.section03 .inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
} 

.section03 .inner p {
    font-size: 1.6rem;
    margin-top: 100px;
    line-height: 2;
    white-space: nowrap;
    /* ...표현 */
    text-overflow: ellipsis;
    overflow: hidden;
      

}
.section03 .inner.image {
    width: 53%;
    max-height: 860px;
    height: 63vw;
    position: relative;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.5); 
}
.section03 .inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section04 .inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
} 
.section04 .inner h1 {
    line-height: 1.5;
}
.section04 .inner .text {
    line-height: 1.3;
}
.section04 .inner .text .h106 {
    margin-left: 100px;
}
.section04 .inner .text ul {
    padding: 100px 0;
}

.section04 .inner .text ul li {
    font-size: 2rem;
    line-height: 4;
}
.section04 .inner .text ul li:nth-child(1) {
    margin-left: 10px;
}
.section04 .inner .text ul li:nth-child(2) {
    margin-left: 50px;
}
.section04 .inner .text ul li:nth-child(3) {
    margin-left: 100px;
}
.section04 .inner .text ul li:nth-child(4) {
    margin-left: 150px;
}
.section03 .inner .image {
    
}
.section05 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.section05 .inner .text h3{
    line-height: 1.5;
}
.section05 .inner .text .h107 {
    margin-left: 25%;
}
.section05 .inner .text ul {
    padding: 100px 0;
}
.section05 .inner .text ul {
    line-height: 3;
}
.section05 .inner .text ul li {
    font-size: 1.6rem;
}
.section05 .inner .image_wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.section05 .inner .image_wrap figure{
    
    
    width: 48%;
    max-height: 420px;
    height: 30vw;
    position: relative;
}
.section05 .inner .image_wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

@media screen and (max-width:1364px) {
    .text h3 {
        font-size: 4rem;
    }
    .section02 .inner .text ul li {
        font-size: 1.9rem;
    }
    .section02 .inner .text ul li:nth-child(1) {
        margin-left: 10px;
    } 
    .section02 .inner .text ul li:nth-child(2) {
        margin-left: 40px;
    } 
    .section02 .inner .text ul li:nth-child(3) {
        margin-left: 80px;
    } 
    .text {
    
        margin: 30px auto;
       
    }

    .section04 .inner .text ul li {
        font-size: 1.9rem;
    }






}/* ------------------------------------------1364px------------------------------------ */

@media screen and (max-width:1170px) {
    .text h3 {
        font-size: 3rem;
    }
    
    .section03 .inner p {
        font-size: 1.3rem;
    }

    .section04 .inner .text ul li {
        font-size: 1.6rem;
    }

    .section05 .inner .text ul li {
        font-size: 1.3rem;
    }
    .section05 .inner .text ul {
        line-height: 2;
    }


    .section05 .inner .text .h107 {
        
    }
    .section03 .inner p {
        margin-top: 50px;
    }
    .section04 .inner .text ul li:nth-child(2) {
        margin-left: 30px;
    }
    .section04 .inner .text ul li:nth-child(3) {
        margin-left: 60px;
    }
    .section04 .inner .text ul li:nth-child(4) {
        margin-left: 90px;
    }
    .section04 .inner .text ul {
        padding: 50px 0;
    }
    .section05 .inner .text ul {
        padding: 50px 0;
    }
}/* ------------------------------------------1170px------------------------------------ */

@media screen and (max-width:890px) {
    .section02 .inner .text ul {
        margin-top: 70px;
    }
    .section02 .inner .text ul li {
        font-size: 1.6rem;
    }

    .section02 .inner .text ul li:nth-child(2) {
        margin-left: 20px;
    } 
    .section02 .inner .text ul li:nth-child(3) {
        margin-left: 30px;
    } 

    .section03 .inner p {
        margin-top: 20px;
    }
    .section04 .inner .text ul li:nth-child(2) {
        margin-left: 20px;
    }
    .section04 .inner .text ul li:nth-child(3) {
        margin-left: 40px;
    }
    .section04 .inner .text ul li:nth-child(4) {
        margin-left: 60px;
    }

    .section04 .inner .text ul li {
        font-size: 1.1rem;
    }
  
}/* ------------------------------------------890px------------------------------------ */



@media screen and (max-width:767px) {
    
    .section02 .inner {
        flex-direction: column;
    }
    .inner {
        flex-direction: column;
        width: calc(100% - 40px);
    }

    .section02 .inner .text ul li:nth-child(1) {
        margin-left: 60px;
    } 
    .section02 .inner .text ul li:nth-child(2) {
        margin-left: 90px;
    } 
    .section02 .inner .text ul li:nth-child(3) {
        margin-left: 120px;
    } 
    
    .section03 .inner .text {
        width: 100%;
        order: 2;
    }
    .section02 .inner .image {
        width: 100%;
    }
    .section03 .inner .image {
        width: 100%;
    }
    .section04 .inner .image {
        margin: 0 auto;
    
}

.section04 .inner .text ul li{
    font-size: 1.6rem;
    line-height: 2;
}

.section05 .inner .text {
    order: 2;
}


.section05 .inner .text ul li {
    font-size: 1.6rem;
}

.section05 .inner .image_wrap {
    width: 100%;
}
.section04 .inner .text .h106 {
    margin-left: 0;
}
.section04 .inner .text ul li:nth-child(1) {
    margin-left: 0;
}
.section04 .inner .text ul li:nth-child(2) {
    margin-left: 0;
}
.section04 .inner .text ul li:nth-child(3) {
    margin-left: 0
}
.section04 .inner .text ul li:nth-child(4) {
    margin-left: 0;
}
.section04 .inner .text .h106 {
       text-align: center;
}
.section05 .inner .text ul li {
    font-size: 1.3rem;
}
.section04 .inner .text ul li {
    font-size: 1.3rem;
}
.section01 .inner h1 {
    font-size: 2rem;
}
.section01 h5 {
    font-size: 2rem;
}
.section01 .inner figure audio {
    width: 150px;
    height: 30px;
}
}/* ------------------------------------------767px------------------------------------ */






@media screen and (max-width:482px) {
    .section01 .inner h1 {
        font-size: 1.4rem;
    }
    .section01 h5 {
        font-size: 1.4rem;
    }
    .section01 .inner .h102 {
        margin-left: 50px;
    }
    .section01 .inner .h103 {
        margin-left: 100px;
    }
    .section01 .inner .h104 {
        margin-left: 150px;
    }
}




@media screen and (max-width:412px) {
    .inner {
        width: calc(100% - 20px);
    }
    .section02 .inner .text ul li {
        font-size: 1.3rem;
    }
    .section04 .inner .text .h106 {

    }

    .section02 .inner .text ul li:nth-child(1) {
        margin-left: 20px;
    } 
    .section02 .inner .text ul li:nth-child(2) {
        margin-left: 40px;
    } 
    .section02 .inner .text ul li:nth-child(3) {
        margin-left: 60px;
    } 

    .section03 .inner p {
        font-size: 1.1rem;
    }
    .section05 .inner .text ul li {
        font-size: 1.1rem;
    }
    .section02 .inner .text ul {
        margin-top: 40px;
    }
    .section01 .inner figure {
        
        position: absolute;
        top: 10px;
        right: 10px;
    }
}